<h2>Checked Out Books</h2>
<table border='1'>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Cover</th>
      <th>Subject</th>

      <th>Category</th>
     
      <th>Library</th>
      <th colspan="6"></th>
    </tr>
    </thead>
    <tbody>
    <% @checkout.each do |book| %>

      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= image_tag book.cover.url.to_s %></td>
        <td><%= book.subject %></td>
        
        <td><%= book.category %></td>
        
        <td><%= Library.find(book.library_id).name %></td>
        <td><%= link_to 'Show', controller: "books", action: "show", id: book%></td>
        <td><%= link_to 'Return Book', controller: "books", action: "returnBook", id: book %></td>
      </tr>
    <% end %>
    </tbody>        
</table>


<h2>Bookmarked Books</h2>
<table border='1'>
  <thead>
  <tr>
    <th>Isbn</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Language</th>
    <th>Published</th>
    <th>Edition</th>
    <th>Cover</th>
    <th>Subject</th>

    <th>Category</th>
    <th>Library</th>
    <th colspan="6"></th>
  </tr>
  </thead>
  <tbody>
  <% @bookmark.each do |book| %>

    <tr>
      <td><%= book.isbn %></td>
      <td><%= book.title %></td>
      <td><%= book.authors %></td>
      <td><%= book.language %></td>
      <td><%= book.published %></td>
      <td><%= book.edition %></td>
      <td><%= image_tag book.cover.url.to_s %></td>
      <td><%= book.subject %></td>
      <td><%= book.category %></td>
      <td><%= Library.find(book.library_id).name %></td>
      <td><%= link_to 'Show', controller: "books", action: "show", id: book%></td>
      <td><%= link_to 'Unbookmark', controller: "books", action: "unbookmark", id: book %></td>
    </tr>
  <% end %>
  </tbody>
</table>

